<%- include("partials/header"); -%>
    <h1>Contact</h1>
<p> <%= contact %></p>
<br>
<p>For any kind of queries or feedback, please feel free drop in a mail at <a href='mailto:lakshaymiglani9b@gmail.com?subject=User%20feedback%20-%20The%20Daily%20Journal'>lakshaymiglani9b@gmail.com</a>.</p>
<p>I will get in touch with you ASAP.</p>
<p><em>Lakshay.</em></p>

<br>
<%- include("partials/footer"); -%>
