<%- include("partials/header"); -%>
    <h1>Contact</h1>
<p> <%= contactContent %></p>
<br>
<p>For any kind of queries or feedback, please feel free drop in a mail at lakshaymiglani9b@gmail.com</p>
<p>I will get in touch with you ASAP.</p>
<p><em>Lakshay.</em></p>

<br>
<%- include("partials/footer"); -%>
